<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="aframe-aframe.html">
<link rel="import" href="aframe-arjs.html">

<!--
`aframe-player`
A LRN element

@demo demo/index.html
-->

<dom-module id="aframe-player">
  <template>
    <style>
      :host {
        display: block;
        position: relative;
        height: 100vh;
      }
    </style>
      <a-scene embedded arjs>
        <a-entity id="entity" gltf-model$="[[file]]" position="0 0 0"></a-entity>
        <a-sky color="#ECECEC"></a-sky>
        <a-marker-camera preset='hiro'></a-marker-camera>
      </a-scene>
  </template>

  <script>
    Polymer({

      is: 'aframe-player',

      properties: {
        file: {
          type: String,
          value: '',
        },
        ar: {
          type: Boolean,
          value: false,
          observer: '_arChanged'
        },
        x: {
          type: String,
          value: '0'
        },
        y: {
          type: String,
          value: '0'
        },
        z: {
          type: String,
          value: '0'
        },
        position: {
          type: String,
          computed: '_computePosition(x, y, z)',
          observer: '_positionChanged'
        }
      },
      attached: function () {
        this.__ready = false;
      },
      _computePosition: function (x, y, z) {
        return {
          x: x,
          y: y,
          z: z
        }
      },
      _positionChanged: function (position) {
          this.$$('#entity').setAttribute('position', position);
          console.log(this.$$('#entity'));
      },
      _arChanged: function (newValue, oldValue) {
      },
      ready: function () {
        // this.importHref(this.resolveUrl('aframe-aframe.html'));
        // this.importHref(this.resolveUrl('aframe-arjs.html'));
        this.__ready = true;
      }

    });
  </script>
</dom-module>
